<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookmarklets</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
</head>
<body>

<h1>Bookmarklets</h1>

{{#bookmarklets}}
<section>
    <h2>
        <a href="{{ baseUrl }}/#{{ id }}">#</a>
        <a name="{{ id }}"></a>
        {{ title }}
    </h2>
    <p>{{ description }}</p>
    <pre>{{ source }}</pre>
    <form>
        <input type="hidden" id="{{ id }}-source" value="{{ minified }}">
        <label>
            Link Text
            <input id="{{ id }}-title" data-id="{{ id }}" type="text" value="{{ id }}" placeholder="Link text" />
        </label>
        {{#options}}
            <label>
                {{ name }}
                <input id="{{ id }}-config-{{ name }}" data-name="{{ name }}" data-id="{{ id }}" type="text" value="{{ value }}" placeholder="{{ value }}" />
            </label>
        {{/options}}
        <blockquote id="{{ id }}-bookmarklet">
            <a href="#">{{ id }}</a>
        </blockquote>
    </form>
</section>
{{/bookmarklets}}

<script>
document.addEventListener("DOMContentLoaded", function() {
  function update(e) {
    const id = e.target.dataset.id
    const data = {
      id,
      title: document.getElementById(`${id}-title`).value,
      options: [...document.querySelectorAll('input')]
        .filter(input => input.getAttribute('id').startsWith(id) && input.dataset.name)
        .reduce((acc, val) => ({
          ...acc,
          [val.dataset.name]: val.value,
        }), {})
    }

    const source = document.getElementById(id + '-source').value
    const wrapped = 'javascript:(' + source + ').call(null, ' + JSON.stringify(data.options) + ')'

    const anchor = document.querySelector('#' + id + '-bookmarklet > a')
    
    anchor.innerText = data.title
    anchor.href = wrapped
  }

  document
    .querySelectorAll('input[type="text"]')
    .forEach(element => {
      element.addEventListener('input', update)
      update({ target: element })
    })
});
</script>

</body>
